.container {
  width: 1280px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__title_name {
  border-radius: 12px;
  background: rgb(46, 46, 46);
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 80px;
  margin-bottom: 104px;
}

.greetings {
  color: rgb(182, 182, 182);
  font-family: Urbanist;
  /* font-style: italic; */
  font-size: 32px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 16px;
}

.header__text {
  color: rgb(251, 248, 248);
  font-family: Urbanist;
  /* font-style: italic; */
  font-size: 42px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 64px;
}

.header__btn_about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 32px;
  background: rgb(251, 248, 248);
  padding-left: 72px;
  padding-right: 72px;
  height: 111px;
  margin-bottom: 99px;
  /* transition: all 250ms ease-in-out; */
}

/* .header__btn_about:hover {
  transform: scale(1.1);
  transition: all 250ms ease-in-out;
} */

.header__btn_about:hover .header__btn_svg {
  transform: translate(5%, -5%);
  transition: all 250ms ease-in-out;
}

.header__btn_svg {
  width: 64px;
  height: 64px;
  transition: all 250ms ease-in-out;
}

.header__btn_text {
  color: rgb(30, 30, 30);
  font-family: Urbanist;
  font-style: italic;
  font-size: 32px;
  font-weight: 400;
  line-height: 1.5;
}

/* 
 */
/* 
 */
/* 
 */

@media screen and (min-width: 390px) and (max-width: 480px) {
  .container {
    width: 390px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header__title_name {
    border-radius: 16px;
    background: rgb(46, 46, 46);
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 80px;
    margin-bottom: 128px;
  }

  .greetings {
    color: rgb(182, 182, 182);
    font-family: Urbanist;
    /* font-style: italic; */
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 24px;
  }

  .header__text {
    color: rgb(251, 248, 248);
    font-family: Urbanist;
    /* font-style: italic; */
    font-size: 24px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 104px;
  }

  .header__btn_about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 24px;
    background: rgb(251, 248, 248);
    padding-left: 64px;
    padding-right: 64px;
    height: 85px;
    margin-bottom: 128px;
  }

  .header__btn_svg {
    width: 40px;
    height: 40px;
  }

  .header__btn_text {
    color: rgb(30, 30, 30);
    font-family: Urbanist;
    font-style: italic;
    font-size: 26px;
    font-weight: 400;
    line-height: 1.5;
  }
}
